extends layout

block content
  ul#contents
    - var lastName = student.lastName
    - console.log(lastName)
    each students in student
      - var firstName = students.firstName
      - var lastName = students.lastName
      li= firstName+' '+lastName

